<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}

    <span class = "title"><h1>{% block title %} Students {% endblock %}</h1></span>
    <hr>
    <div class="content">
      {% for studen in student %}
      <div class="bg-dark text-white">
        <p><h3>Student {{ studen.id }} details</h3></p>
        <ul class="list-group w-25 mx-auto my-3">
          <li class="list-group-item">Name: {{ studen.firstname }} {{ studen.lastname }}</li>
          <li class="list-group-item">Email: {{ studen.email }}</li>
          <li class="list-group-item">Age: {{ studen.age }}</li>
          <li class="list-group-item">Bio: {{ studen.bio }}</li>
          <li class = "list-group-item"><a href = "{{ url_for('studentedit2', student_id = studen.id) }}">Edit</a></li>
          <li class = "list-group-item"><a href = "{{ url_for('studentdelete', student_id = studen.id) }}">Delete</a></li>
        </ul>
      {% endfor %}
    </div>
    {% endblock %}
</body>
</html>