<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1 class="title">{% block title %} Edit Teacher: {{ teacher.name }} {% endblock %}</h1>
<hr>
<div class="d-flex justify-content-center text-black">
  <div class="w-25">
    <form method="post">
      <div class="form-floating mb-3">
        <input value = "{{ teacher.name }}" type="text" name="name" class="form-control" id="floatingInput" 
         placeholder="Name">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input value = "{{ teacher.email }}" type="email" name="email" class="form-control" id="floatingInput" 
         placeholder="Teacher Email">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input value = "{{ teacher.age }}" type="number" name="age" class="form-control" id="floatingInput" 
         placeholder="Age">
        <label for="floatingInput">Age</label>
      </div>
      <div class="form-floating mb-3">
        <textarea name="bio" class="form-control" id="floatingTextarea" 
         placeholder="Bio" style="height: 100px">{{ teacher.bio }}</textarea>
        <label for="floatingTextarea">Bio</label>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
</body>
</html>